/* Deeper Browser support
* StoneyDSP 2023
*/
@supports (view-transition-name: root) {
    html {
        view-transition-name: root;
    }
}
@supports (zoom: 1) {
    body {
        zoom: 1;
    }
}
@supports (margin-block: 0.83em) {
    :-webkit-any(article, aside, nav, section) h1 {
        margin-block-start: 0.83em;
        margin-block-end: 0.83em;
    }
}
@supports (margin-inline: 0) or (margin-block: 0.67em) {
    h1 {
        margin-inline-start: 0;
        margin-inline-end: 0;
        margin-block-start: 0.67em;
        margin-block-end: 0.67em;
    }
}
@supports (margin-inline: 0) or (margin-block: 0.83em) {
    h2 {
        margin-inline-start: 0;
        margin-inline-end: 0;
        margin-block-start: 0.83em;
        margin-block-end: 0.83em;
    }
}
@supports (margin-inline: 0) or (margin-block: 1.0em) {
    h3 {
        margin-inline-start: 0;
        margin-inline-end: 0;
        margin-block-start: 1.0em;
        margin-block-end: 1.0em;
    }
}
@supports (margin-inline: 0) or (margin-block: 1.33em) {
    h4 {
      margin-inline-start: 0;
      margin-inline-end: 0;
      margin-block-start: 1.33em;
      margin-block-end: 1.33em;
    }
}
@supports (margin-inline: 0) or (margin-block: 1.67em) {
    h5 {
        margin-inline-start: 0;
        margin-inline-end: 0;
        margin-block-start: 1.67em;
        margin-block-end: 1.67em;
    }
}
@supports (margin-inline: 0) or (margin-block: 2.33em) {
    h6 {
        margin-inline-start: 0;
        margin-inline-end: 0;
        margin-block-start: 2.33em;
        margin-block-end: 2.33em;
    }
}
@supports (margin-inline: 0) or (margin-block: 1.0em) {
    p {
        margin-inline-start: 0;
        margin-inline-end: 0;
        margin-block-start: 1.0em;
        margin-block-end: 1.0em;
    }
}

@supports (overflow-x: clip) or (overflow-y: clip) {
    img {
        overflow-x: clip;
        overflow-y: clip;
    }
}
@supports (overflow-clip-margin: content-box) {
    img {
        overflow-clip-margin: content-box;
    }
}
@supports (aspect-ratio: auto) {
    /* img[Attributes Style] {
    width: 300px;
    aspect-ratio: auto 300 / 300;
    height: 300px;
    } */
    img {
        aspect-ratio: auto;
    }
}

a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
}

@supports (margin-inline: 0) or (margin-block: 1.0em) or (padding-inline-start: 40.0px) {
    menu {
        margin-block-start: 1.0em;
        margin-block-end: 1.0em;
        margin-inline-start: 0;
        margin-inline-end: 0;
        padding-inline-start: 40.0px;
    }
}

@supports (margin-inline: 0) or (margin-block: 1.0em) or (padding-inline-start: 40.0px) {
    ul {
        margin-block-start: 1.0em;
        margin-block-end: 1.0em;
        margin-inline-start: 0;
        margin-inline-end: 0;
        padding-inline-start: 40.0px
    }
}

@supports (margin-inline: 0) or (margin-block: 1.0em) or (padding-inline-start: 40.0px) {
    ol {
        margin-block-start: 1.0em;
        margin-block-end: 1.0em;
        margin-inline-start: 0;
        margin-inline-end: 0;
        padding-inline-start: 40.0px
    }
}

@supports (text-align: -webkit-match-parent) {
    li {
        display: list-item;
    }
}

@supports (-webkit-border-horizontal-spacing: 0) or (-webkit-border-vertical-spacing: 0) {
    table > table {
        -webkit-border-horizontal-spacing: 0;
        -webkit-border-vertical-spacing: 0;
    }
}

@supports (border-image: initial) {
    iframe {
        border-image: initial;
    }
}

@supports (overflow-clip-margin: content-box) {
    iframe {
        overflow-clip-margin: content-box;
    }
}

@supports (overflow: clip) {
    iframe {
        overflow: clip;
    }
}

@supports (font-variant-numeric: tabular-nums) {
    [only]::marker {
        font-variant-numeric: tabular-nums;
    }
}
@supports (unicode-bidi: isolate) {
    [only]::marker {
        unicode-bidi: isolate;
    }
}
@supports (text-align-last: start) {
    [only]::marker {
        text-align-last: start;
    }
}

@supports (-webkit-box-sizing: border-box) {
    [only]::before {
        -webkit-box-sizing: border-box;
    }
    [only]::after {
        -webkit-box-sizing: border-box;
    }
}

@supports (-moz-box-sizing: border-box) {
    [only]::before {
        -moz-box-sizing: border-box;
    }
    [only]::after {
        -moz-box-sizing: border-box;
    }
}
